<header>
    <nav>
        <div class="logo__title">
            <a href="/" class="icon_nav">Rinku</a>
        </div>
    
        <div class="menu_list">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#pages">Pages</a></li>
                <li><a href="/#how_it_works">How It Works</a></li>
                <!-- <hr> -->
                <li><a href="javascript:void(0)" class="disable">Create Account</a></li>
            </ul>
        </div>
    </nav>

    <div class="upload_form">
        <h1>Paste the URL to be shortened</h1>
        <form action="/">
            <input type="url" name="u" placeholder="https://www.example.com" value="<%= input %> " required>
            <button>Short</button>

            <% if (url == null) { %>
                <div class="advance_stg">
                    <input type="checkbox" name="advance" id="advance_button">
    
                    <div class="content">
                        <div class="availability">
                            <h5 title="Days Availability">Availability</h5>
                            <div class="box">
                                <input type="radio" name="d" id="5days" value="5" checked>
                                <label for="5days">5+</label>
                                <input type="radio" name="d" id="10days" value="10">
                                <label for="10days">10+</label>
                                <input type="radio" name="d" id="15days" value="15">
                                <label for="15days">15+</label>
                                <input type="radio" name="d" id="30days" value="30">
                                <label for="30days">30+</label>
                            </div>
                        </div>  
    
                        <div class="url_name">
                            <h5 title="Limit 15 characters">URL Name</h5>
                            <div class="box">
                                <input type="text" name="n" id="url_name" value="<%= path %>">
                            </div>
                        </div>
                    </div>  

                    <label class="adnc_btn" for="advance_button">
                        Advance
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
                            <path d="M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z" fill="currentColor" />
                        </svg>
                    </label>
                </div>

                
                <script>
                    if ( window.history.replaceState ) {
                        window.history.replaceState( null, null, window.location.href );
                    }
                </script>
                
            <% } %>
        </form>
        <!-- <span>Rinku.Me is a free tool to shorten a URL or reduce a link <br> Use our URL Shortener to create a shortened link making it easy to remember</span> -->

        <% if (url != null) { %>
            <div class="url__app">
                <article class="url_shorted">
                    <div class="url_to_shorted">
                        <% if (url.protocol != 'https:') { %>
                            <span class="danger" title="Se detecto que el sitio web al que se rederigira es inseguro">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                  </svg>
                            </span>
                        <% } %>
                        <span class="origin"><%= url.origin %></span>/<a href="<%= url.new_link %>" target="_blank" class="pathname"><%= url.path %></a>
                        <button onclick="copy('<%=url.new_link%>')">Copy Link</button>
                    </div>
                </article>
            </div>
        <% } %>
    </div>

    <div class="shape"></div>
</header>